<h1>Band Tracker</h1>

<!-- Adding a venue -->

<h3>Add a Venue:</h3>

<form action="/venues" method="post">
  <div class="form-group">
    <input type="text" name="venue_name">
    <button type="submit" class="btn">Add Venue</button>
  </div>
</form>

<!-- Link block -->

<p><a href="/bands">Bands</a></p>
